<h2 class="ui header">
  <div class="ui huge inverted teal raised segment">
      <div class="content">
        Todo List Ember Application
      </div>
  </div>
</h2>
{{outlet}}
<p class="ui bottom attached label teal" id="footer">
Designed by Zoho Backstage<br>
</p>
