<div class="ui raised segment">
  <form class="ui form">
    <div class="field">
      <b><label>Enter Your Name</label></b>
      {{#ui-input class="ui input focus" type="text" name="first-name" placeholder="Name"}}{{/ui-input}}
      <br><br>
      <button class="ui blue button" {{action 'name'}}>Go</button>
    </div>
  </form>
</div>
